<p id="notice"><%= notice %></p>

<p>
  <%= link_to "Create users", new_user_registration_path %>
</p>

<p>
  <%= link_to "Create/Add items", new_item_path %>
</p>


<p>
  <%= link_to "Show/Edit/Delete items", items_path %>
</p>

<p>
  <%= link_to "Show/Edit/Delete users", user_index_path %>
</p>



